/* Estilos personalizados para Tabulator */
.tabulator {
  background-color: #f5f5f5; /* Color de fondo de la tabla */
  color: #333; /* Color del texto */
}

/* Color del encabezado */
.tabulator-header {
  background-color: #d9534f; /* Rojo */
  color: white;
}

/* Color de las filas alternas */
.tabulator-row:nth-child(even) {
  background-color: #f0f0f0;
}

body {
  background: #3f3752;
}

/* Estilo para el botón de agregar */
.agregar {
  background-color: #43f390;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
}

/* Estilo para el botón de modificar */
.modificar {
  background-color: #ffb508;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
}

/* Estilo para el botón de eliminar */
.eliminar {
  background-color: #fd6494;
  color: white;
  border: none;
  padding: 5px 10px;
}
