<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Caminantes Cafeteros</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Grupo de Senderismo Cafeteros: Descubre la naturaleza y las montañas"
    />
    <meta
      property="og:description"
      content="Únete a nuestro grupo de senderismo Cafeteros y explora la belleza de la naturaleza. Descubre rutas increíbles, comparte experiencias y disfruta de la aventura en las montañas cafeteras."
    />
    <!-- <meta property="og:url" content="" />
<meta property="og:image" content="" /> -->

    <!-- Descripción -->
    <meta
      name="description"
      content="Explora la naturaleza con el Grupo de Senderismo Cafeteros. Descubre rutas sorprendentes, comparte experiencias y disfruta de la aventura en las montañas cafeteras. ¡Únete a nosotros para vivir momentos inolvidables en la naturaleza!"
    />
    <!-- Palabras clave -->
    <meta
      name="keywords"
      content="Grupo de Senderismo Cafeteros, senderismo, montañismo, naturaleza, aventura al aire libre, rutas de senderismo, exploración, cafeteros, Colombia, caminatas, turismo ecológico, experiencias al aire libre, grupo senderista, senderos naturales"
    />

    <!-- Favicon -->
    <link href="/principal/img/logoBanner.png" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link
      href="/principal/lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link
      href="/principal/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/principal/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Topbar Start -->
    <div class="container-fluid bg-light pt-3 d-none d-lg-block">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center">
              <p><i class="fa fa-envelope mr-2"></i>estif125@hotmail.com</p>
              <p class="text-body px-3">|</p>
              <p><i class="fa fa-phone-alt mr-2"></i>3146425955</p>
            </div>
          </div>
          <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
              <a
                target="_blank"
                class="text-primary px-3"
                href="https://www.facebook.com/profile.php?id=100091402111970&mibextid=ZbWKwL"
              >
                <i class="fab fa-facebook-f"></i>
              </a>

              <a
                target="_blank"
                class="text-primary px-3"
                href="https://www.instagram.com/tiven125/?igshid=NzZlODBkYWE4Ng%3D%3D"
              >
                <i class="fab fa-instagram"></i>
              </a>
              <a
                class="text-primary px-3"
                target="_blank"
                href="https://api.whatsapp.com/send?phone=+3146425955&text=Hola%20%F0%9F%91%8B,%20%C2%A1te%20damos%20la%20bienvenida%20a%20la%20familia%20de%20Caminantes%20Cafeteros!%20%E2%98%95%E2%9C%A8%20Explora%20con%20nosotros%20los%20senderos%20del%20buen%20caf%C3%A9%20y%20disfruta%20cada%20paso.%20"
                ><i class="fab fa-whatsapp"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
      <div
        class="container-lg position-relative p-0 px-lg-3"
        style="z-index: 9"
      >
        <nav
          class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5"
        >
          <a href="" class="navbar-brand">
            <h1 class="m-0 text-primary">
              <span class="text-dark">Cafete</span>ros
            </h1>
          </a>
          <button
            type="button"
            class="navbar-toggler"
            data-toggle="collapse"
            data-target="#navbarCollapse"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-between px-3"
            id="navbarCollapse"
          >
            <div class="navbar-nav ml-auto py-0">
              <a href="/index" class="nav-item nav-link active">Inicio</a>
              <a href="/about" class="nav-item nav-link">Nosotros</a>
              <a href="/package" class="nav-item nav-link">Rutas</a>
              <a href="/contact" class="nav-item nav-link">Contacto</a>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- Navbar End -->

    <!-- Carousel Start -->

    <div class="container-fluid p-0">
      <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              class="w-100"
              src="/principal/img/carousel-1.jpg"
              alt="Image"
            />
            <div
              class="carousel-caption d-flex flex-column align-items-center justify-content-center"
            >
              <div class="p-3" style="max-width: 900px">
                <h1 class="display-3 text-white mb-md-4">
                  Explora. Camina. Café. Únete
                </h1>
                <a
                  href="https://www.facebook.com/profile.php?id=100091402111970"
                  class="btn btn-primary py-md-3 px-md-5 mt-2"
                  >Unirse</a
                >
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <img
              class="w-100"
              src="/principal/img/carousel-2.jpg"
              alt="Image"
            />
            <div
              class="carousel-caption d-flex flex-column align-items-center justify-content-center"
            >
              <div class="p-3" style="max-width: 900px">
                <h1 class="display-3 text-white mb-md-4">
                  Cafeteros de Chincha: ¡Explora con nosotros
                </h1>
                <a
                  href="https://www.facebook.com/profile.php?id=100091402111970"
                  class="btn btn-primary py-md-3 px-md-5 mt-2"
                  >Unirse</a
                >
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img
              class="w-100"
              src="/principal/img/cafemarsella.jpeg"
              alt="Image"
            />
            <div
              class="carousel-caption d-flex flex-column align-items-center justify-content-center"
            >
              <div class="p-3" style="max-width: 900px">
                <h1 class="display-3 text-white mb-md-4">
                  La resistencia viene del corazón
                </h1>
                <a
                  href="https://www.facebook.com/profile.php?id=100091402111970"
                  class="btn btn-primary py-md-3 px-md-5 mt-2"
                  >Unirse</a
                >
              </div>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#header-carousel"
          data-slide="prev"
        >
          <div class="btn btn-dark" style="width: 45px; height: 45px">
            <span class="carousel-control-prev-icon mb-n2"></span>
          </div>
        </a>
        <a
          class="carousel-control-next"
          href="#header-carousel"
          data-slide="next"
        >
          <div class="btn btn-dark" style="width: 45px; height: 45px">
            <span class="carousel-control-next-icon mb-n2"></span>
          </div>
        </a>
      </div>
    </div>
    <!-- Carousel End -->

    <!-- About Start -->
    <div class="container-fluid py-5">
      <div class="container pt-5">
        <div class="row">
          <div class="col-lg-6" style="min-height: 500px">
            <div class="position-relative h-100">
              <img
                class="position-absolute w-100 h-100"
                src="/principal/img/Logo2cafeteros.png"
                style="object-fit: cover"
              />
            </div>
          </div>
          <div class="col-lg-6 pt-5 pb-lg-5">
            <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
              <h6
                class="text-primary text-uppercase"
                style="letter-spacing: 5px"
              >
                Nosotros
              </h6>
              <h1 class="mb-3">Café en el Alma, Naturaleza en el Camino</h1>
              <p>
                El nombre "Cafeteros de Chinchina" refleja nuestra identidad
                única. Así como los cafeteros cuidan con amor sus cosechas,
                nosotros cuidamos con devoción cada paso que damos en nuestros
                senderos. Somos un grupo unido, como los granos de café en una
                cosecha, listos para disfrutar juntos de la riqueza de la
                naturaleza que nos rodea.
              </p>
              <div class="row mb-4">
                <div class="col-6">
                  <img class="img-fluid" src="/principal/img/cafe.jpg" alt="" />
                </div>

                <div class="col-6">
                  <img
                    class="img-fluid"
                    src="/principal/img/cafetal.jpeg"
                    alt=""
                  />
                </div>
              </div>
              <a href="/about" class="btn btn-primary mt-1">Nosotros</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About End -->

    <!-- Destination Start -->
    <div class="container-fluid py-5">
      <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
          <h6 class="text-primary text-uppercase" style="letter-spacing: 5px">
            Rutas
          </h6>
          <h1>Eplorar nuestras Rutas</h1>
        </div>
        <div class="row">
          <div id="contenedorRutas" class="row">
            <!-- Aquí se agregarán dinámicamente las rutas -->
          </div>
        </div>
      </div>
    </div>
    <!-- Destination Start -->

    <!-- Registration Start -->
    <div class="container-fluid bg-registration py-5" style="margin: 90px 0">
      <div class="container py-5">
        <div class="row align-items-center">
          <div class="col-lg-7 mb-5 mb-lg-0">
            <div class="mb-4">
              <h6
                class="text-primary text-uppercase"
                style="letter-spacing: 5px"
              ></h6>
              <h1 class="text-white">
                <span class="text-primary">Aventura Cafetera en Espera</span>
                ¡Nos vemos en el sendero!
              </h1>
            </div>
            <p class="text-white">
              Espero que esta invitación te encuentre bien. Estamos emocionados
              por la próxima aventura con los Cafeteros de Chincha y quisiéramos
              saber si te unirás a nosotros. Por favor, llena este breve
              formulario para confirmar tu participación.
            </p>
          </div>
          <div class="col-lg-5">
            <div class="card border-0">
              <div class="card-header bg-primary text-center p-4">
                <h1 class="text-white m-0">Regístrate ahora</h1>
              </div>
              <div class="card-body rounded-bottom bg-white p-5">
                <!-- HTML del formulario -->
                <form id="formularioCorreo">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control p-4"
                      placeholder="Nombre"
                      required="required"
                      id="nombre"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control p-4"
                      placeholder="Correo"
                      required="required"
                      id="correo"
                    />
                  </div>
                  <select
                    id="selectRutas"
                    class="custom-select px-4"
                    style="height: 47px"
                  >
                    <option selected>Selecciona la ruta</option>
                    <!-- Aquí puedes agregar opciones de rutas dinámicamente -->
                  </select>

                  <div>
                    <button
                      class="btn btn-primary btn-block py-3"
                      type="button"
                      onclick="enviarCorreo()"
                    >
                      Enviar Correo
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Registration End -->

    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
      <div class="container py-5">
        <div class="text-center mb-3 pb-3">
          <h2 class="text-primary text-uppercase" style="letter-spacing: 5px">
            Testimonios
          </h2>
          <a href="/crear-testimonio">Agregar</a>
        </div>

        <div id="testimonios-container" class="swiper-container">
          <div class="swiper-wrapper">
            <!-- Las diapositivas del carrusel se agregarán aquí dinámicamente -->
          </div>
          <!-- Agrega la paginación del carrusel si lo deseas -->
          <div class="swiper-pagination"></div>
          <!-- Agrega las flechas de navegación si lo deseas -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>
    <!-- Testimonial End -->

    <!-- Footer Start -->
    <div
      class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5"
      style="margin-top: 90px"
    >
      <div class="row pt-5">
        <div class="col-lg-3 col-md-6 mb-5">
          <a href="" class="navbar-brand">
            <h1 class="text-primary">
              <span class="text-white">CAFE</span>TEROS
            </h1>
          </a>
          <p>
            Cafeteros de Chinchina: Donde Cada Paso es una Aventura y Cada
            Camino, una Historia
          </p>
          <h6
            class="text-white text-uppercase mt-4 mb-3"
            style="letter-spacing: 5px"
          ></h6>
          <div class="d-flex justify-content-start">
            <a
              target="_blank"
              class="btn btn-outline-primary btn-square mr-2"
              href="https://www.facebook.com/profile.php?id=100091402111970&mibextid=ZbWKwL"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a
              target="_blank"
              class="btn btn-outline-primary btn-square"
              href="https://www.instagram.com/tiven125/?igshid=NzZlODBkYWE4Ng%3D%3D"
              ><i class="fab fa-instagram"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h5
            class="text-white text-uppercase mb-4"
            style="letter-spacing: 5px"
          >
            Nuestros servicios
          </h5>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-white-50 mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Inicio</a
            >
            <a class="text-white-50 mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Nosotros</a
            >
            <a class="text-white-50 mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Rutas</a
            >
            <a class="text-white-50 mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Contacto</a
            >
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-5">
          <h5
            class="text-white text-uppercase mb-4"
            style="letter-spacing: 5px"
          >
            Contacta con nosotros
          </h5>
          <p>
            <i class="fa fa-map-marker-alt mr-2"></i>calle 3 #11-43 Chinchina
            Caldas
          </p>
          <p><i class="fa fa-phone-alt mr-2"></i>+57 3146425955</p>
          <p><i class="fa fa-envelope mr-2"></i>tiven0125@gmail.com</p>
        </div>
      </div>
    </div>
    <!-- Footer End -->

    <!-- whatsapp -->
    <a
      target="_blank"
      href="https://api.whatsapp.com/send?phone=+3146425955&text=Hola%20%F0%9F%91%8B,%20%C2%A1te%20damos%20la%20bienvenida%20a%20la%20familia%20de%20Caminantes%20Cafeteros!%20%E2%98%95%E2%9C%A8%20Explora%20con%20nosotros%20los%20senderos%20del%20buen%20caf%C3%A9%20y%20disfruta%20cada%20paso.%20"
      class="btn btn-lg btn-primary btn-lg-square back-to-top"
      ><i class="fab fa-whatsapp" style="color: white"></i>
    </a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/principal/lib/easing/easing.min.js"></script>
    <script src="/principal/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/principal/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/principal/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/principal/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Template Javascript -->
    <script src="/principal/js/main.js"></script>
    <script src="/principal/js/mostrarRutas.js"></script>
    <script src="/principal/js/selecionarRutas.js"></script>
  </body>
</html>
