<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Caminantes Cafeteros</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    
    <!-- Open Graph -->
<meta property="og:type" content="website" />
<meta
  property="og:title"
  content="Grupo de Senderismo Cafeteros: Descubre la naturaleza y las montañas"
/>
<meta
  property="og:description"
  content="Únete a nuestro grupo de senderismo Cafeteros y explora la belleza de la naturaleza. Descubre rutas increíbles, comparte experiencias y disfruta de la aventura en las montañas cafeteras."
/>
<!-- <meta property="og:url" content="" />
<meta property="og:image" content="" /> -->

<!-- Descripción -->
<meta
  name="description"
  content="Explora la naturaleza con el Grupo de Senderismo Cafeteros. Descubre rutas sorprendentes, comparte experiencias y disfruta de la aventura en las montañas cafeteras. ¡Únete a nosotros para vivir momentos inolvidables en la naturaleza!"
/>
<!-- Palabras clave -->
<meta
  name="keywords"
  content="Grupo de Senderismo Cafeteros, senderismo, montañismo, naturaleza, aventura al aire libre, rutas de senderismo, exploración, cafeteros, Colombia, caminatas, turismo ecológico, experiencias al aire libre, grupo senderista, senderos naturales"
/>


    <!-- Favicon -->
    <link href="/principal/img/logoBanner.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/principal/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/principal/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/principal/css/style.css" rel="stylesheet">
</head>

<body>
      <!-- Topbar Start -->
    <div class="container-fluid bg-light pt-3 d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center">
                        <p><i class="fa fa-envelope mr-2"></i>estif125@hotmail.com</p>
                        <p class="text-body px-3">|</p>
                        <p><i class="fa fa-phone-alt mr-2"></i>3146425955</p>
                    </div>
                </div>
                <div class="col-lg-6 text-center text-lg-right">
                    <div class="d-inline-flex align-items-center">
              <a
                class="text-primary px-3"
                href="https://www.facebook.com/profile.php?id=100091402111970&mibextid=ZbWKwL"
              >
                <i class="fab fa-facebook-f"></i>
              </a>

              <a
                class="text-primary px-3"
                href="https://www.instagram.com/tiven125/?igshid=NzZlODBkYWE4Ng%3D%3D"
              >
                <i class="fab fa-instagram"></i>
              </a>
            </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    
 <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
                <a href="" class="navbar-brand">
                    <h1 class="m-0 text-primary"><span class="text-dark">Cafete</span>ros</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href="/index"  class="nav-item nav-link ">Inicio</a>
                        <a href="/about" class="nav-item nav-link">Nosotros</a>
                        <a href="/package" class="nav-item nav-link active">Rutas</a>
                        <a href="/contact" class="nav-item nav-link">Contacto</a>
                        <a href="/" class="nav-item nav-link">Login</a>

                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->



    <!-- Header Start -->
    <div class="container-fluid page-header">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                <h3 class="display-4 text-white text-uppercase">Rutas</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="">Inicio</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Rutas</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Destination Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Destination</h6>
                <h1>Explore nustras Rutas</h1>
            </div>
          
               <div id="contenedorRutas" class="row">
            <!-- Aquí se agregarán dinámicamente las rutas -->
          </div>
            </div>
        </div>
    </div>
    <!-- Destination Start -->

    
  <!-- recomendaciones Start -->
       <div class="text-center mb-3 pb-3">
                <h1>Recomedaciones</h1>
            </div>

    <div class="container-fluid pb-5">
      <div class="container pb-5">
        <div class="row">
          <div class="col-md-4">
            <div class="d-flex mb-4 mb-lg-0">
              <div
                class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3"
                style="height: 100px; width: 100px"
              >
                <i class="fa fa-2x fa-money-check-alt text-white"></i>
              </div>
              <div class="d-flex flex-column">
                <h5 class="">🥾</h5>
                <p class="m-0">
                  Usa calzado cómodo y adecuado para caminar en diferentes tipos de terreno.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="d-flex mb-4 mb-lg-0">
              <div
                class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3"
                style="height: 100px; width: 100px"
              >
                <i class="fa fa-2x fa-award text-white"></i>
              </div>
              <div class="d-flex flex-column">
                <h5 class="">🍏</h5>
                <p class="m-0">
                    Lleva contigo una alimentación equilibrada para mantener la energía a lo largo de la caminata
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="d-flex mb-4 mb-lg-0">
              <div
                class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3"
                style="height: 100px; width: 100px"
              >
                <i class="fa fa-2x fa-globe text-white"></i>
              </div>
              <div class="d-flex flex-column">
                <h5 class="">💧</h5>
                <p class="m-0">
                   Hidrátate bien. Una hidratación adecuada es clave para un día lleno de actividad.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="d-flex mb-4 mb-lg-0">
              <div
                class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3"
                style="height: 100px; width: 100px"
              >
                <i class="fa fa-2x fa-globe text-white"></i>
              </div>
              <div class="d-flex flex-column">
                <h5 class="">🧢</h5>
                <p class="m-0">
                  	 Protégete del sol con una gorra y protector solar.

                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- recomendaciones End -->



  <!-- Footer Start -->
    <div
      class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5"
      style="margin-top: 90px"
    >
      <div class="row pt-5">
        <div class="col-lg-3 col-md-6 mb-5">
          <a href="" class="navbar-brand">
            <h1 class="text-primary">
              <span class="text-white">CAFE</span>TEROS
            </h1>
          </a>
          <p>
            Cafeteros de Chinchina: Donde Cada Paso es una Aventura y Cada
            Camino, una Historia
          </p>
          <h6
            class="text-white text-uppercase mt-4 mb-3"
            style="letter-spacing: 5px"
          ></h6>
          <div class="d-flex justify-content-start">
             <a
              class="btn btn-outline-primary btn-square mr-2"
              href="https://www.facebook.com/profile.php?id=100091402111970&mibextid=ZbWKwL"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a
              class="btn btn-outline-primary btn-square"
              href="https://www.instagram.com/tiven125/?igshid=NzZlODBkYWE4Ng%3D%3D"
              ><i class="fab fa-instagram"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
          <h5
            class="text-white text-uppercase mb-4"
            style="letter-spacing: 5px"
          >
            Nuestros servicios
          </h5>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-white-50 mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Inicio</a
            >
            <a class="text-white-50 mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Nosotros</a
            >
            <a class="text-white-50 mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Rutas</a
            >
            <a class="text-white-50 mb-2" href="#"
              ><i class="fa fa-angle-right mr-2"></i>Contacto</a
            >
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-5">
          <h5
            class="text-white text-uppercase mb-4"
            style="letter-spacing: 5px"
          >
            Contacta con nosotros
          </h5>
          <p>
            <i class="fa fa-map-marker-alt mr-2"></i>calle 3 #11-43 Chinchina
          </p>
          <p><i class="fa fa-phone-alt mr-2"></i>+57 3146425955</p>
          <p><i class="fa fa-envelope mr-2"></i>tiven0125@gmail.com</p>
        </div>
      </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/principal/lib/easing/easing.min.js"></script>
    <script src="/principal/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/principal/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/principal/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/principal/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

   "></script>

    <!-- Template Javascript -->
    <script src="/principal/js/main.js"></script>
        <script src="/principal/js/mostrarRutas.js"></script>

</body>

</html>