<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/node_modules/sweetalert2/dist/sweetalert2.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <script src="/node_modules/sweetalert2/dist/sweetalert2.min.js"></script>
    <script>
      // You can now use SweetAlert2 in this script
      Swal.fire("Hello world!");
    </script>
  </body>
</html>

<!-- Include the SweetAlert2 library from node_modules -->
